
.container {
    margin: 8rem auto;
    max-width: 120rem;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid var(--color-grey-light-2);
    font-size: 1.4rem;
    padding-left: 2rem;
}

.content {
    display: flex;
    height: 80rem;
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%;
    flex-direction: column;
    align-self: stretch;
}

.hotel-view {
    background-color: #fff;
    flex: 1;
}

