
.container {
    margin: 8rem auto;
    max-width: 120rem;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);
    font-size: 1.4rem;
    padding-left: 2rem;
}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%;
    flex-direction: column;
    align-self: stretch;
}

.hotel-view {
    background-color: #fff;
    flex: 1;
}


.detail {
    display: flex;
    gap: 4.5rem;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
    font-size: 1.4rem;
}

.description {
    background-color:  #fff;
    box-shadow: 0 2rem 5rem rgba( #000000, .1);
    flex: 0 0 60%;
    padding: 3rem;
}

.user-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
